@import "tailwindcss";
@import "./styles/typography.css";


@theme inline {
  --color-primary: var(--color-primary);
  --color-main: var(--color-main);
}


.dark {
  --color-primary: #fff9;
}

:root {
  --color-primary: #7150ff;
  --color-main: #111111;
  --img-bg: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20200%20200'%20style='transform:%20translateZ(0);'%0A%3E%3Cdefs%3E%3Cfilter%20id='noiseFilter'%3E%3CfeTurbulence%20type='fractalNoise'%20baseFrequency='0.65'%20numOctaves='1'%20stitchTiles='stitch'%20%3E%3Canimate%20attributeName='seed'%20from='1'%20to='65'%20dur='15s'%20repeatCount='indefinite'%20/%3E%3C/feTurbulence%3E%3CfeColorMatrix%20type='saturate'%20values='0'/%3E%3C/filter%3E%3C/defs%3E%3Crect%20width='200'%20height='200'%20filter='url(%23noiseFilter)'%20fill='%23000'/%3E%3C/svg%3E%0A");
  --img-bg-linear-gradient: linear-gradient(90deg, #7150ff, #7150ff);
  background-color: #000;

  body {
    margin: 0;
  }
}

* {

  /* 整體滾動條 */
  ::-webkit-scrollbar {
    width: 3px;
    /* 垂直滾動條寬度 */
    height: 3px;
    /* 水平滾動條高度 */
  }

  /* 滾動條滑塊 */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  /* 滾動條滑塊 hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* 滾動條軌道 */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }
}

/* 隐藏滚动条但保持滚动功能 */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

.ant-image {
  display: block;
  height: 100%;
}

/* 闪光动画效果 */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}