.container {
  padding: 0 24px;
}
@media (max-width: 992px) {
  .container {
    width: 100%;
    padding: 0 200px;
    box-sizing: border-box;
  }
}
@media (max-width: 700px) {
  .container {
    padding: 0 100px;
  }
}
