.container {
  // background-image: url("../../assets/Price_Background.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  //background: linear-gradient(-185deg, transparent 50px, rgb(189, 174, 239), rgb(241, 242, 234)) top right;
  // background: rgb(233, 228, 248);
  //background-size: 50% 50%;
  // background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
