
//.ant-modal-content {
//  padding: 0 !important;
//  border-radius: 10px !important;
//
//
//}

.model-body {
  background: red;
  padding: 0;
  //border-image: url("../../../../../assets/suggest_bg.png");
  //background-repeat: no-repeat;
  //background-size: cover;
  //         borderRadius: '10px',
  //         backgroundImage: `url(${suggest_bg})`,
  //         backgroundRepeat: 'no-repeat',
  //         backgroundSize: 'cover',
}

//.close-btn {
//  //margin-right: 10px;
//  position: absolute;
//  right: 25px;
//  transform: scale(0.8);
//  cursor: pointer;
//}
