@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%); /* 调整滚动距离 */
  }
}

@keyframes reverse-scroll {
  0% {
    transform: translateY(-25%); /* 开始位置 */
  }
  100% {
    transform: translateY(0); /* 结束位置 */
  }
}

@keyframes scroll-row {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%); /* 调整滚动距离 */
  }
}

@keyframes reverse-scroll-row {
  0% {
    transform: translateX(-25%); /* 开始位置 */
  }
  100% {
    transform: translateX(0); /* 结束位置 */
  }
}

@keyframes rippleEffect {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes rippleEffect2 {
  to {
    transform: scaleY(1.9) scaleX(1.15);
    opacity: 0;
  }
}

.animate__pulse {
  --animate-duration: 2s; /* Adjust this value to control the speed */
}

.home {
  overflow-x: hidden;
  margin: 0;
}

.home-container {
  //background: #F9F7FF;
  .hot-tool {
    width: 100%;
    height: 100vh;
    //background-image: url("../assets/smile.png");
    //background-size: cover;
    display: flex;
    align-items: center;

    .hot-box {
      display: flex;
      justify-content: center;
      padding-top: 80px;
      width: 100%;

      .add-chrome-box {
        margin-top: 85px;
        padding-left: 122px;

        .hot-content {
          h1 {
            font-family: Nunito-Black;
            font-size: 53px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            background: linear-gradient(272deg, #6b42eb 58.02%, #8742eb 97.5%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          .explain {
            /* width: 61px; */
            color: var(--blue2, #6b42eb);
            font-family: Nunito-Black;
            font-size: 25px;
            font-style: normal;
            font-weight: 900;
            line-height: 20px;
            position: relative;
            padding-left: 8px;

            p {
              &::before {
                content: '•';
                margin-right: 10px;
                position: relative;
                font-size: 26px;
                top: -2px;
              }
            }
          }
        }

        .try-box {
          display: flex;
          margin-top: 36px;
          position: relative;
          width: 511px;
          height: 74px;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 39px;
          color: #fff;
          font-family: Nunito-Black;
          font-size: 30px;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
          cursor: pointer;

          background: var(
                          --blue,
                          linear-gradient(21deg, #042cff 20.25%, #00d1ff 89.83%)
          );

          &:hover {
            background: var(--blue2, #0386ff);
          }

          img {
            width: 38px;
            height: 38px;
            margin-right: 12px;
          }

          .add-btn {
            z-index: 99;
            height: 62px;
            width: 418px;
            cursor: pointer;
          }

          .try-it-btn {
            position: absolute;
            right: -10px;
            top: -150px;
            width: 196px;
            height: 176px;
          }
        }

        .reviewPng {
          margin-top: 36px;
          height: 27px;
        }

        .btn-group {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 80px;
          gap: 40px;

          .btn-group-item {
            gap: 20px;
            display: flex;
            align-items: center;
            background: #212B36;
            color: #fff;
            font-family: Inter;
            justify-content: center;
            height: 60px;
            flex: 1;
            border-radius: 10px;
            cursor: pointer;

            .discord {
              width: 37px;
            }
          }
        }
      }

      .hot-img-box {
        position: relative;
        width: 738px;

        .hot-img {
          width: 100%;
        }
      }
    }
  }

  .part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .trusted {
    margin-top: 30px;
    background-color: #fff;

    .trusted-btn {
      color: rgb(107, 114, 128);
      border: 1px solid rgb(156, 163, 175);
      border-radius: 9999px;
      padding: 10px 20px;
      cursor: pointer;
      font-weight: 600;
      margin-bottom: 20px;

      &:hover {
        color: rgb(72, 152, 222);
      }
    }

    .trusted-schools {
      display: flex;
      width: 100%;
      /* overflow: hidden; */
      justify-content: space-around;
      animation: scroll-row 50s linear infinite;

      &:hover {
        animation-play-state: paused;
      }

      img {
        height: 50px;
        margin-right: 50px;
      }
    }
  }

  .world {
    width: 100%;
    background-image: url("../assets/home-bg-2.png");
    background-size: cover;

    .around {
      margin-top: 142px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 253px;
      position: relative;

      .text {
        width: 754px;
        color: #000;
        text-align: center;
        font-family: Nunito-Black;
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        line-height: 68px; /* 106.25% */
        .top {
          color: var(--blue2, #0386ff);
        }
      }

      .install {
        width: 366px;
        margin-top: 42px;
        border-radius: 39px;
        background: var(--blue2, #0386ff);
        color: #fff;
        font-family: Nunito-Black;
        font-size: 30px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        display: flex;
        padding: 18px 34px 15px 30px;
        cursor: pointer;
        z-index: 99;

        &:hover {
          background: var(--blue, linear-gradient(21deg, #042CFF 20.25%, #00D1FF 89.83%));;
        }

        img {
          margin-right: 12px;
        }
      }
    }

    .homework {
      display: flex;
      justify-content: center;

      img {
        width: 740px;
      }

      .answers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 68px;

        img {
          width: 190px;
          margin-bottom: 30px;
        }

        .text {
          width: 550px;
          color: var(--blue2, #0386ff);
          font-family: Nunito-Black;
          font-size: 64px;
          font-style: normal;
          font-weight: 900;
          line-height: 61px; /* 95.313% */
        }
      }
    }
  }

  .understand {
    width: 100%;
    height: 848px;
    background-image: url("../assets/home-bg-3.png");
    background-size: cover;
    display: flex;
    /* padding-left: 242px; */
    justify-content: center;

    .better {
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: 190px;
        margin-bottom: 30px;
      }

      .text {
        width: 590px;
        color: #fff;
        font-family: Nunito-Black;
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        line-height: 61px; /* 95.313% */
      }
    }

    .pic2rd {
      height: 732px;
      margin-block-start: auto;
    }
  }

  .reason {
    width: 100%;
    height: 766px;
    background-image: url("../assets/home-bg-4.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top: 70px;

    img {
      width: 770px;
    }

    .reference {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 82px;

      img {
        width: 190px;
        margin-bottom: 32px;
      }

      .text {
        width: 476px;
        color: var(--BLUE, #0386ff);
        font-family: Nunito-Black;
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        line-height: 61px; /* 95.313% */
      }
    }
  }

  .youtobe {
    width: 100%;
    /* height: 806px; */
    background-image: url("../assets/home-bg-6.png");
    background-size: cover;
    display: flex;
    justify-content: center;

    .pic5th {
      height: 750px;
    }

    .summarize {
      margin-left: 88px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      img {
        width: 190px;
        margin-bottom: 30px;
      }

      .text {
        width: 510px;
        color: var(--BLUE, #0386ff);
        font-family: Nunito-Black;
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        line-height: 61px; /* 95.313% */
      }
    }
  }

  .students {
    .title {
      color: #000;
      font-weight: 600;
      font-family: Nunito-Black;
      font-size: 40px;
      font-style: normal;
      line-height: normal;
      width: 85%;
      margin: 100px auto 0;
    }

    .students-love {
      display: flex;
      justify-content: center;
      width: 85%;
      height: 380px;
      margin: 50px auto 0;
      background-size: cover;

      .love {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 60px;

        .text {
          width: 438px;
          flex-shrink: 0;
          color: var(--white, #fff);
          font-family: Nunito-Black;
          font-size: 64px;
          font-style: normal;
          font-weight: 900;
          margin-bottom: 42px;
        }

        .btn {
          width: 288px;
          height: 74px;
          flex-shrink: 0;
          border-radius: 39px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-family: Nunito-Black;
          font-size: 30px;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
          cursor: pointer;
          background: var(
                          --Chat-Document-color,
                          linear-gradient(21deg, #042cff 20.25%, #00d1ff 89.83%)
          );

          &:hover {
            background: var(--blue2, #0386ff);
          }

          img {
            margin-right: 16px;
          }
        }
      }

      .love-list-box {
        overflow: hidden;
        display: flex;
        -webkit-mask-image: linear-gradient(90deg, transparent 0%, #000 4%, #000 96%, transparent);

        .loved-list {
          display: flex;
          gap: 20px;

          &.part-1 {
            animation: scroll 30s linear infinite;
          }

          &.part-2 {
            animation: reverse-scroll 30s linear infinite;
          }

          &:hover {
            animation-play-state: paused;
          }

          .loved-item {
            width: 300px;
            flex: 1;
            background-color: #F0EBFE;
            border-radius: 10px;
            padding: 25px;
            position: relative;
            margin-bottom: 40px;
            box-sizing: border-box;

            .loved-item-title {
              display: flex;
              align-items: center;
              margin-bottom: 20px;

              img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
              }

              .right {
                /* transform: translateY(6px); */
              }
            }

            .star {
              margin-top: 4px;

              .star-item {
                margin-right: 2px;
              }
            }

            .loved-item-desc {
              word-break: break-all;
              font-size: 14px;
              color: rgb(17, 17, 17);
              font-family: Nunito-Regular;
            }

            .loved-item-date {
              position: absolute;
              bottom: 30px;
              color: var(--Gray, #a5bbd0);
              font-family: Nunito-Regular;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 18px; /* 112.5% */
              padding-left: 50px;
            }
          }
        }
      }
    }
  }

  .questions-qa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
    color: #000;
    padding-top: 50px;

    .title {
      color: #000;
      /* text-align: center; */
      font-family: Nunito-Regular;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 60px;
    }

    .questions-list {
      width: 85%;
      overflow-y: hidden;

      .item-box {
        padding-bottom: 15px;
        border-bottom: 1px solid var(--grayblue-200);
        margin-bottom: 15px;

        &.active {
          border-bottom: none;
        }

        .questions-item {
          display: flex;
          justify-content: space-between;
          padding-right: 15px;

          .question {
            color: var(--grayblue-800);
            font-family: Inter;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            cursor: pointer;
            line-height: 52px; /* 144.444% */
            /* transition: transform 1.5s ease;  */
          }

          .arrow {
            transform: translateY(20px);
            cursor: pointer;
            color: #000;

            .rotate {
              transform: rotate(270deg);
            }
          }
        }

        .questions-answer {
          color: var(--grayblue-600);
          font-family: Nunito-Regular;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
        }
      }
    }
  }

  .get-now--RvmlA {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 40px;
    background: var(--gray-800);
    min-height: 536px;
    flex-shrink: 0;
    overflow: hidden;
    width: 85%;
    margin: 50px auto;

    &:after {
      width: 100%;
      height: 1440px;
      content: "";
      position: absolute;
      background: radial-gradient(50% 50% at 50% 50%, rgba(104, 65, 234, .8) 0, rgba(104, 65, 234, .26) 100%);
      filter: blur(200px);
      left: 0;
      top: 135.42px;
    }

    .circle1--xWFTc, .circle2--gEMJb, .circle3--zbydJ, .circle4--iHMc8 {
      position: absolute;
      opacity: .16;
      left: 50%;
      transform: translateX(-50%);
    }

    .circle1--xWFTc {
      width: 386.408px;
      height: 386.408px;
      border-radius: 386.408px;
      border: 1px solid var(--brand-400);
      bottom: -108.61px;
    }

    .circle2--gEMJb {
      width: 603.085px;
      height: 603.085px;
      border-radius: 603.085px;
      border: 1px solid var(--brand-400);
      bottom: -216.95px;
    }

    .circle3--zbydJ {
      width: 758.37px;
      height: 758.37px;
      border-radius: 758.37px;
      border: 1px solid var(--brand-400);
      bottom: -294.6px;
    }

    .circle4--iHMc8 {
      width: 902.821px;
      height: 902.821px;
      border-radius: 902.821px;
      border: 1px solid var(--brand-400);
      bottom: -366.82px;
    }

    .get-monica-now--K0rnv, .unleash-potential--K1Vva {
      position: relative;
      z-index: 1;
      color: var(--common-white);
      text-align: center;
      font-size: 48px;
      font-weight: 900;
      line-height: 64px;
    }

    .get-now-btn--Z0xSI {
      min-width: 320px;
      height: 64px;
      margin-top: 80px;
    }

    .animation-button--VqaIl {
      margin: 14px;
      position: relative;
      z-index: 9;
    }

    .animation-button--VqaIl .button--IWkuT {
      position: relative;
      border-radius: 16px;
      min-width: 114px;
      flex-shrink: 0;
      height: 100%;
    }

    .monica-btn--TH1fg.size-default--_t7g7 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      padding: 0 12px;
      border-radius: 12px;
    }

    .primary--ajoTN {
      background-color: var(--brand-400);
      color: var(--common-white);
    }

    .monica-btn--TH1fg {
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      -webkit-user-drag: none;
      -webkit-tap-highlight-color: transparent;
      white-space: pre;
      font-weight: 500;
      transition: all .2s ease-in-out;
      display: flex;
      gap: 10px;
      cursor: pointer;
    }
  }

  .understand-reason {
    width: 85%;
    margin: 80px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    .understand-reason-left {
      width: 48%;
      background: var(--common-white);
      border-radius: 24px;
      padding: 20px;
      box-sizing: border-box;
      text-align: right;

      .title {
        color: var(--grayblue-800);
        font-size: 26px;
        font-weight: 700;
        line-height: 38px;
        text-align: left;
        margin-bottom: 30px;
      }

      .img {
        height: 400px;
        width: auto;
      }
    }

    .understand-reason-right {
      width: 48%;
      background: var(--common-white);
      border-radius: 24px;
      padding: 25px;
      box-sizing: border-box;
      text-align: right;

      .title {
        color: var(--grayblue-800);
        font-size: 26px;
        font-weight: 700;
        line-height: 38px;
        text-align: left;
        margin-bottom: 30px;
      }

      .img {
        height: 400px;
        width: auto;
      }
    }
  }

  .mock {
    width: 100%;
    margin: 100px 0 0;
    background: #fff;

    .mock-container {
      width: 85%;
      margin: 0 auto;
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .title {
      color: var(--grayblue-800);
      font-size: 26px;
      font-weight: 700;
      line-height: 38px;
      text-align: left;
      margin-bottom: 30px;

      span {
        display: block;
        font-size: 46px;
        line-height: 50px;
        background: linear-gradient(272deg, #6b42eb 58.02%, #8742eb 97.5%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Nunito-Black;
      }
    }

    .mock-img {
      width: 600px;
    }
  }

  .more {
    width: 85%;
    margin: 0 auto;
    margin: 100px auto 0;

    .title {
      color: var(--grayblue-800);
      font-weight: 600;
      font-family: Nunito-Black;
      font-size: 40px;
      font-style: normal;
      line-height: normal;
    }

    .more-list {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 20px -20px 0;

      .more-list-item {
        width: 25%;
        padding: 20px;
        box-sizing: border-box;

        .more-item {
          display: flex;
          align-items: center;
          flex-direction: column;
          background: #FFFFFF;
          height: 200px;
          border-radius: 20px;
          padding: 20px;
          box-sizing: border-box;

          &:hover {
            background: #F0ECFD;
          }

          cursor: pointer;

          .more-item-img {
            width: 56px;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--bg-lv-1, #f5f5f5);
            border-radius: 10px;
            font-size: 25px;
          }

          .more-item-name {
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
            margin: 15px 0 10px;
          }

          .more-item-content {
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            word-break: break-word;
            color: var(--grayblue-700);
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }
    }
  }
}
