.nav {
  color: var(--black, #000);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
  letter-spacing: 0.6px;
  display: flex;
  gap: 8px;
  .nav-item {
    cursor: pointer;
    border-radius: 6px;
    font-family: Nunito-Regular;
    color: var(--grayblue-800);
    padding: 5px 10px;
    font-weight: 600;
    font-family: Inter;
    display: flex;
    align-items: center;
    gap: 5px;
    &:hover{
      background: var(--transparent-grayblue-8);
      color: var(--brand-500);
    }
    .downOutlined{
      transform: rotate(180deg);
    }
  }
}
.popover-nav {
  .popover-box {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    min-width: 400px;
    padding: 15px 20px;
    box-sizing: border-box;
    gap: 50px;
    .popover-box-item{
      .popover-title{
        font-size: 16px;
        color: var(--grayblue-800);
        margin-bottom: 20px;
      }
      .popover-item{
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        margin-bottom: 10px;
        padding: 5px 10px;
        border-radius: 10px;
        &:hover{
          background: #eee;
        }
        .popover-item-icon{
          color:#f00;
          width: 20px;
        }
        .popover-text-box{
          .popover-text-title{
            color: var(--grayblue-800);
            font-size: 14px;
          }
          .popover-text-info{
            color: var(--grayblue-500);
            font-size: 12px;
          }
        }
      }
    }
    .popover-nav-item {
      width: 400px;
      display: flex;
      align-items: center;
      .popover-icon {
        transform: translate(0, 4px);
      }
      &:hover {
        background-color: #4898decc;
        color: #fff;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
  .resources-box {
    .popover-nav-item {
      width: 250px;
      display: flex;
      align-items: center;
      padding: 10px;
      .popover-icon {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      svg{
        width: 100%;
        height: 100%;
      }
      }
      &:hover {
        background-color: #4898decc;
        color: #fff;
        border-radius: 10px;
        padding-left: 10px;
        cursor: pointer;
      }
    }
  }
}
