.legal-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    max-width: 1024px;
    padding-bottom: 100px;
    padding-top: 80px;
  
    p {
      margin: 0;
    }
    ul {
      padding: 0 20px;
      margin: 0;
    }
    h3 {
      all: unset;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 30px;
    }
  }
  .content-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
  .font-bold{
    font-weight: bold;
    font-size: 24px;
  }
    .title {
      all: unset;
      color: #333;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
      margin-top: -12px;
    }
    .time {
      color: #333;
      margin-top: -16px;
      font-size: 14px;
      margin-bottom: 8px;
    }
  }