.email-register-code {
  max-width: 600px;

  .verity {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.75px;
    text-align: left !important;
    color: #869fb8;
    margin-bottom: 12px !important;
  }

  .send {
    margin-bottom: 30px;
    line-height: 30px;

    .email {
      font-weight: bold;
    }
  }

  .ant-input {
    border-radius: 8px;
    line-height: 30px;

    &:hover {
      border-color: #d9d9d9;
    }
  }

  .ant-input-group-addon {
    background-color: transparent;
    border-radius: 8px;
  }

  .get-code-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #4893de;

    &.disabled {
      cursor: not-allowed;
    }
  }

  .email-verifyCode {
    text-align: center;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 100%;
    height: 40px;
    padding: 8px 32px;
    border-radius: 39px;
    background: linear-gradient(91.15deg, #4df1f4 -16.8%, #324cfc 99.8%);
    font-weight: bold;
    margin: 6px auto;
  }

  .account {
    margin-top: 20px;
    color: #444746;
    width: 360px;
    text-align: center;

    span {
      color: #4893de;
      cursor: pointer;
      font-size: 14px;
      text-align: center;
    }
  }
}

@media (max-width: 1000px) {
  .email-register-code {

    .verity {
      padding-left: 124px;
      margin-top: 32px;
    }

    .send {
      margin-left: 124px;
      max-width: 348px;
      word-break: break-all;

    }

    .ant-row {
      display: flex;
      justify-content: center;
    }

    .account {
      width: 100%;
      margin-bottom: 32px;
    }
  }
}