.back {
  line-height: 24px;
  letter-spacing: 0.75px;
  text-align: left !important;
  color: var(--text-body);
  margin-bottom: 12px !important;
  display: flex;
  align-items: center;
  cursor: pointer;

  svg {
    transform: rotate(90deg);
  }
}

.email-login {
  .ant-input {
    border-radius: 8px;
    line-height: 30px;

  }

  .ant-input-affix-wrapper {
    border-radius: 8px;
  }

  .email-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 40px;
    /* padding: 8px 32px; */
    border-radius: 40px;
    font-weight: bold;
    margin-top: 20px;
    background-color: var(--brand-400);
    color: var(--common-white);
    &:hover {
      background-color: var(--brand-300);
    }
  }

  .forgot {
    color: var(--text-body);
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 1000px) {
  .email-login {
    .back {
      margin-top: 32px;
    }

    .ant-row {
      display: flex;
      justify-content: center;
    }

    .forgot {
      width: 100%;
    }
  }
}