.email-forgot {
  .back {
    line-height: 24px;
    letter-spacing: 0.75px;
    text-align: left !important;
    color: var(--text-body);
    margin-bottom: 12px !important;
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      transform: rotate(90deg);
    }
  }

  .ant-input {
    border-radius: 8px;
    line-height: 30px;
  }

  .ant-input-group-addon {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .email {
    border: 1px solid #4893de;
  }

  .code {
    border-color: #4893de;
  }

  .email-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    font-weight: bold;
    margin-top: 20px;
    background-color: var(--brand-400);
    color: var(--common-white);
    &:hover {
      background-color: var(--brand-300);
    }
  }

  .ant-input-group-addon {
    background-color: #F1F2F3;
    position: relative;
    &::after{
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 60%;
      background: var(--transparent-black-15);
    }
  }

  .get-code-btn {
    cursor: pointer;
    width: 100%;
    background: transparent;
    border: none;

    &.disabled {
      cursor: not-allowed;
    }
  }

  .rember {
    display: flex;
    justify-content: center;
    color: var(--text-secondary);
    span {
      color: var(--text-body);
      cursor: pointer;
    }
  }
}

@media (max-width: 1000px) {
  .email-forgot {
    .back {
      margin-top: 32px;
    }

    .ant-row {
      display: flex;
      justify-content: center;
    }

    .forgot {
      width: 100%;
    }
  }
}