
.have{
  width: 100px;
  position: relative;
  &::after{
    display: block;
    width: 15px;
    height: 7px;
    border-bottom: 2px solid #0F8F58;
    border-left: 2px solid #0F8F58;
    transform: translate(-50%,-50%) rotate(-45deg);
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
  }
}
.noHave{
  width: 110px;
  position: relative;
  &::before{
    display: block;
    width: 20px;
    height: 2px;
    background: #FF4647;
    transform: translate(-50%,-50%) rotate(45deg);
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
  }
  &::after{
    display: block;
    width: 20px;
    height: 2px;
    background: #FF4647;
    transform: translate(-50%,-50%) rotate(-45deg);
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
  }
}
.difference{
  width: 1000px;
  margin: 0 auto;
}
@media (max-width: 1100px) {
  .difference {
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
  }
}